/* Write your CSS here */
.panel {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: larger;
  padding: 5px;
  margin: 10px;
  width: 500px;
  left: calc(50% - 250px/2);
  width: 250px;
  top: 20px;
  border: 1px solid #ddd;
  position: relative;
  background-color: pink
}


.inner {
  position: relative;
  margin: 30px 10px;
  background-color: pink;
}

.h1 {
  background-color: pink
}

.title{
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;

}

.subtitle{
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;


}